<section class="footer">
    <div class="footer-top">
        <a href="#">THE COMPANY</a>
        <a href="#">INFORMATION</a>
        <a href="#">LEGAL</a>
        <a href="#">FOLLOW US</a>
        <a href="#">NEWSLETTER</a>
    </div>
    <div class="footer-bottom">
        © Roksanda 2025
    </div>
</section>