<header>
    <div class="left-nav">
        <div><a href="/products">SHOP</a></div>
        <div><a href="#">RUNWAY</a></div>
        <div><a href="/about">ABOUT</a></div>
        <div><a href="#">EN-GB</a></div>
    </div>
    <div class="logo">
        <img src="https://roksanda.com/cdn/shop/files/ROKSANDA_LOGO_LIGHT_BIG_360x.png?v=1614303939" alt="Roksanda Logo" width="175" height="20.5">
    </div>
    <div class="right-nav">
        <% if (user) { %>
            <a href="/auth/logout">Logout</a>
        <% } else { %>
            <a href="/auth/login">Login</a>
            <a href="/auth/signup">Signup</a>
        <% } %>
        <a href="#">Search</a>
        <a href="#">Wishlist</a>
        <a href="#">Cart</a>
    </div>
</header>