<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Women's Designer Fashion & Luxury Clothing - ROKSANDA</title>
    <link rel="stylesheet" href="https://use.typekit.net/your-kit-id.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/RoksandaBootstrap.css">
</head>
<body>
    <%- include('./partials/header') %>
    <%- body %>
    <%- include('./partials/footer') %>
</body>
</html>